* {
  font-family: 'Poppins', sans-serif;
  line-height: 1.3;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

a {
  text-decoration: none;
}
a:-webkit-any-link {
  color: #444;
}

.select-MuiInputBase,
.MuiButtonBase-root,
.MuiSelect-select,
.MuiInputBase-input,
.MuiInput-input {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 15px;
}
